.link-button {
  $self: &;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color--violet;
  padding: 10px 20px;
  height: fit-content;
  border-radius: 25px / 50%;
  cursor: pointer;

  &__text {
    color: black;
  }

  //Themes:
  &--tag {
    font-size: 14px;
    text-transform: uppercase;
  }
  &--transparent {
    border-bottom: 2px solid $color--black;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    margin: 10px 20px;
    &:hover {
      border-bottom: 2px solid $color--white;
    }
  }

  &--back-button {
    width: fit-content;
    background-color: transparent;
    padding: 1px;

    #{$self}__text {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}
