.link-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color--violet;
  padding: 10px 20px;
  height: fit-content;
  border-radius: 25px / 50%;

  &--tag {
    font-size: 14px;
    text-transform: uppercase;
  }
  &--transparent {
    border-bottom: 2px solid $color--black;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    margin: 10px 20px;
    &:hover {
      border-bottom: 2px solid $color--white;
    }
  }

  &__text {
    color: black;
  }
}
