.project {
    
    &__onboarding {
        display: flex;
        justify-content: space-around;
    }

    &__short-info {
        display: flex;
        flex-direction: column;
    }

    &__pretext {
        font-weight: bold;
    }

    &__intro {
        height: 100%;
        margin: 0;
        background-color:$color--mint;
        padding: 50px;
        margin-bottom: 10px;
    }

    &__project-leader {
        height: 100%;
        margin: 0;
        background-color:$color--mint;
        padding: 50px;
    }

    
    &__description {
        margin: 0 0 0 10px;
        width: 50%;
        padding: 50px;
        background-color:$color--mint;
    }
    &__collabtools {
        margin: 0 0 0 10px;
        width: 50%;
        padding: 50px;
        background-color:$color--mint;
    }

}