.project {
  &__grid {
    display: grid;
    gap: 10px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "sidebar"
      "content";

    @include break-at($break-point--small) {
      -ms-grid-columns: 3fr 7fr;
      grid-template-columns: 3fr 7fr;
      grid-template-areas: "sidebar  content";
    }

    padding: 50px 0;
  }

  &__sidebar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: sidebar;

    display: flex;
  }
  &__sidebar-col {
    width: 50%;
    padding: 5px;
  }

  &__content {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: content;

    padding: 5px;
  }

  &__description {
    margin: 0;
  }

  &__tags-wrapper {
    padding: 20px 0;
  }
  &__tags {
    padding: 10px 0;
  }
}
