.logo {
  font-size: 10rem;
  font-weight: bold;
  color: $color--deep-black;
  display: flex;
  position: relative;
  width: 100%;
  &__floating-container {
    position: relative;
    flex-grow: 1;
    display: flex;
  }
  &:hover {
    .f {
    }

    .l {
      //padding-left: 8%;
    }

    .y {
      //padding-left: 25%;
    }

    .t {
      //padding-left: 100%;
    }
  }

  span {
    // -webkit-transition: all 1s ease;
    // -moz-transition: all 1s ease;
    // -o-transition: all 1s ease;
    // transition: all 1s ease;
  }
}
