.logo {
  $block: &;
  $float-time: 15s;

  font-size: 15.2rem;
  font-weight: bold;
  color: $color--deep-black;
  position: relative;
  width: 100%;
  min-height: 256px;

  &__letter {
    position: absolute;
    transition: ease-in-out;

    &--f {
      animation: floater_f $float-time infinite;
    }
    &--l {
      left: 100px;
      animation: floater_l $float-time infinite;
    }
    &--y {
      left: 200px;
      animation: floater_y $float-time infinite;
    }
    &--t {
      left: 300px;
      animation: floater_t $float-time infinite;
    }
  }

  @keyframes floater_f {
    0% {
      left: 0%;
    }
    50% {
      left: 10%;
    }
    100% {
      left: 0%;
    }
  }
  @keyframes floater_l {
    0% {
      left: 20%;
    }
    50% {
      left: calc(50% - 100px);
    }
    100% {
      left: 20%;
    }
  }
  @keyframes floater_y {
    0% {
      left: 40%;
    }
    40% {
      left: calc(75% - 175px);
    }
    50% {
      left: calc(75% - 175px);
    }
    100% {
      left: 40%;
    }
  }
  @keyframes floater_t {
    0% {
      left: 75%;
    }
    50% {
      left: calc(90% - 100px);
    }
    100% {
      left: 75%;
    }
  }
}
