.status {
  &__title {
    font-size: 20px;
    font-weight: bold;
  }
  &__list {
    @include list-style-reset();
    position: relative;
    margin-bottom: 15px;
    display: block;
    padding: 5px 0 5px 16px;
    margin-left: 16px;
    &::before {
      content: "";
      position: absolute;
      background-color: black;
      width: 2px;
      height: 50%;
      top: 25%;
      left: -2px;
    }
  }
  &__item {
    position: relative;
    margin-left: 5px;
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 18px;
      height: 18px;
      top: calc(50% - 11px);
      left: -31.5px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      border: 1px solid black;
      background-color: $color--minmimal-grey;
    }
  }
  &__item--active {
    font-weight: 500;
    &::before {
      background-color: $color--powder-purple;
      width: 25px;
      height: 25px;
      left: -35px;
      top: calc(50% - 14px);
    }
  }
}
