.status {
  &__title {
    font-size: 20px;
    font-weight: bold;
  }
  &__list {
    @include list-style-reset();
    position: relative;
    margin-bottom: 15px;
    display: block;
    border-left: 2px solid black;
    padding: 5px 0 5px 16px;
    margin-left: 16px;
  }
  &__item {
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 18px;
      height: 18px;
      top: calc(50% - 11px);
      left: -27px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      border: 1px solid black;
      background-color: $color--minmimal-grey;
    }
  }
  &__item--active {
    &::before {
      background-color: $color--digital-lollipop;
    }
  }
}
