@mixin break-at($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  opacity: 0;
  overflow: hidden;
}

@mixin heading-level--1 {
  font-size: 24px;
  line-height: 1.15;

  @include break-at($break-point--small) {
    font-size: 32px;
  }

  @include break-at($break-point--large) {
    font-size: 70px;
  }
}

@mixin heading-level--2 {
  font-size: 20px;

  @include break-at($break-point--large) {
    font-size: 36px;
  }
}

@mixin heading-level--3 {
  font-size: 32px;
}

@mixin list-style-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
