@import "variables.scss";
@import "typography.scss";
@import "mixins.scss";

html,
body {
  margin: 0;
  padding: 0;
  background-color: $color--background-white;
  font-family: neue-haas-grotesk-text, Arial, Helvetica, sans-serif;
  font-size: 106%;
}

section {
  display: table;
  min-width: 40%;
  margin: 0 auto;
}

h1 {
  font-family: neue-haas-grotesk-display;
  font-weight: Bold;
}
h2 {
  color: $color--deep-black;
  font-family: neue-haas-grotesk-display;
  font-weight: normal;
}

h3 {
  color: $color--deep-black;
  font-family: neue-haas-grotesk-display;
  font-weight: normal;
}

ul,
li,
p {
  line-height: 1.6;
}

a {
  text-decoration: inherit;
}

::selection {
  background: $color--melon;
}

@import "../components/**/*.scss";
