/* @font-face {
  font-family: knowit;
  font-weight: 700;
  src: url(../public/fonts/knowit-bold.woff);
}

@font-face {
  font-family: knowit;
  font-weight: 400;
  src: url(../public/fonts/knowit-normal.woff);
} */

@import url("https://use.typekit.net/amc5ojw.css");
