$color--deep-black: #292929;
$color--digital-black: #333333;
$color--light-digital-black: #505050;
$color--lighter-digital-black: #666666;
$color--digital-white: #f1f0ed;
$color--pear: #b7debd;
$color--forest: #4b6455;
$color--pebble: #f1f0ed;
$color--flamingo: #fac0b1;
$color--mint: #dbeede;
$color--clay: #a5b1aa;
$color--sand: #e4e1db;
$color--melon: #fcdfd8;
$color--digital-lollipop: #ff00ff;
$color--dark-pebble: #f4ede3;
$color--powder-purple: #ccc8ff;
$color--minmimal-grey: #d9d9d9;
$color--minmimal-grey-lighter: #d9d9d966;

$link-color: $color--digital-lollipop;

//Flyt colors:
$color--black: #2b2b2b;
$color--grey: #d9d9d9;
$color--light-grey: #eaeaea;
$color--white: #fafafa;
$color--orange: #ffcc6d;
$color--yellow: #f7ff9f;
$color--coral: #ff9a7d;
$color--purple: #a8b6ff;
$color--violet: #ccc8ff;
$color--violet-lighter: #e9e8ff;
$color--pink: #d8a8ff;
$color--powder: #e3c4e5;
$color--lime: #b7e731;
$color--light-lime: #e0fba9;
$color--blue: #96afff;

$font-size--12: 0.75rem;
$font-size--14: 0.875rem;
$font-size--16: 1rem;
$font-size--18: 1.125rem;
$font-size--20: 1.25rem;
$font-size--22: 1.375rem;
$font-size--24: 1.5rem;
$font-size--26: 1.625rem;
$font-size--28: 1.75rem;
$font-size--30: 1.875rem;
$font-size--32: 2rem;
$font-size--38: 2.375rem;
$font-size--40: 2.5rem;
$font-size--52: 3.25rem;
$font-size--72: 4.5rem;

$font-weight--thin: 100;
$font-weight--normal: 400;
$font-weight--bold: 700;

$break-point--small: 48rem;
$break-point--medium: 65rem;
$break-point--medium-plus: 75rem;
$break-point--large: 86rem;

$spacing-desktop-lg: 6.25rem;
$spacing-mobile-lg: 5rem;
$spacing-desktop-sm: 3.125rem;
$spacing-mobile-sm: 2.5rem;

$gutter-sm: 1rem;
$gutter-lg: 2.5rem;

$width--article: 789px;
$width--wide: 1650px;
