$color--white: #ffffff;
$color--white-blue-tone: #fafafa;
$color--deep-black: #292929;
$color--digital-black: #333333;
$color--light-digital-black: #505050;
$color--lighter-digital-black: #666666;
$color--digital-white: #f1f0ed;
$color--pear: #b7debd;
$color--forest: #4b6455;
$color--pebble: #f1f0ed;
$color--flamingo: #fac0b1;
$color--mint: #dbeede;
$color--clay: #a5b1aa;
$color--sand: #e4e1db;
$color--melon: #fcdfd8;
$color--digital-lollipop: #ff00ff;
$color--dark-pebble: #f4ede3;
$color--powder-purple: #ccc8ff;

// NY FORSIDE

$color--background-white: #FAFAFA;
$color--projectcard: rgb(191,189,167,0.4);
$color--projectcard-highlighted: #BFBDA7

$font-size--12: 0.75rem;
$font-size--14: 0.875rem;
$font-size--16: 1rem;
$font-size--18: 1.125rem;
$font-size--20: 1.25rem;
$font-size--22: 1.375rem;
$font-size--24: 1.5rem;
$font-size--26: 1.625rem;
$font-size--28: 1.75rem;
$font-size--30: 1.875rem;
$font-size--32: 2rem;
$font-size--38: 2.375rem;
$font-size--40: 2.5rem;
$font-size--52: 3.25rem;
$font-size--72: 4.5rem;

$font-weight--thin: 100;
$font-weight--normal: 400;
$font-weight--bold: 700;

$break-point--small: 40rem;
$break-point--medium: 65rem;
$break-point--medium-plus: 75rem;
$break-point--large: 86rem;

$spacing-desktop-lg: 6.25rem;
$spacing-mobile-lg: 5rem;
$spacing-desktop-sm: 3.125rem;
$spacing-mobile-sm: 2.5rem;

$gutter-sm: 1rem;
$gutter-lg: 2.5rem;
