.tasks {
  padding: 20px 0;

  &__list {
    @include list-style-reset();
  }

  &__list-item {
    margin: 10px 0;
    padding: 20px;
    max-width: 400px;

    &--red {
      background-color: $color--flamingo;
    }
    &--blue {
      background-color: $color--powder-purple;
    }
    &--green {
      background-color: $color--pear;
    }
  }
}
