.project-overview {
  width: 100%;

  &__title {
    margin-bottom: 2rem;
  }

  &__grid {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;

    padding: 20px 0;

    @include break-at($break-point--small) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 20px;
    }
    @include break-at($break-point--medium-plus) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: 30px;
    }
  }

  &--green {
    background-color: $color--pear;
  }

  &--white-blue-tone {
    background-color: $color--white-blue-tone;
  }
}
