.collabtool {
  $radius: 50%;

  display: flex;
  margin-right: 10px;

  &__spacer {
    z-index: 1;
    background-color: $color--minmimal-grey;
    width: 20px;

    &--left {
      -webkit-border-top-left-radius: $radius;
      -webkit-border-bottom-left-radius: $radius;
      -moz-border-radius-topleft: $radius;
      -moz-border-radius-bottomleft: $radius;
      border-top-left-radius: $radius;
      border-bottom-left-radius: $radius;
    }
    &--right {
      -webkit-border-top-right-radius: $radius;
      -webkit-border-bottom-right-radius: $radius;
      -moz-border-radius-topright: $radius;
      -moz-border-radius-bottomright: $radius;
      border-top-right-radius: $radius;
      border-bottom-right-radius: $radius;
    }
  }

  &__link {
    z-index: 2;
    background-color: $color--minmimal-grey;
    padding: 5px 0;
    font-size: 14px;
    text-decoration: none;
  }
}
