.collabtool {
  $radius: 50%;

  display: flex;
  margin-right: 5px;

  &__link {
    z-index: 2;
    background-color: $color--minmimal-grey;
    padding: 10px 12px;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    min-width: 25px;
    border-radius: 25px / 50%;
    text-transform: uppercase;
  }
}
