.project-card {
  position: relative;
  padding: 30px 25px;
  color: $color--black;
  transition: border-radius 100ms ease-in-out;

  &:hover {
    border-radius: 40px;
  }

  &--muddish {
    background-color: $color--muddish-lighter;
  }

  &--blue {
    background-color: $color--violet-lighter;
  }

  &--lime {
    background-color: $color--light-lime;
  }

  &--liked {
    background-color: $color--muddish;
  }

  &__title-spacer {
    padding-right: 20px;
  }
  &__title {
    font-weight: $font-weight--normal;
    font-size: 32px;
  }

  &__tags {
    display: flex;
  }
  &__like-button {
    position: absolute;
    top: 10px;
    right: 8px;
  }
}
