.project-card {
  background-color: $color--melon;
  position: relative;

  &__link {
    display: block;
    padding: 20px;
    color: inherit;
    text-decoration: none;
  }
  &__title {
    overflow-wrap: break-word;
  }
  &__like-button {
    position: absolute;
    top: 0;
    right: 0;
  }
}
