.project-card {
  background-color: $color--melon;
  position: relative;
  padding: 20px;
  box-shadow: 0px 0px 10px $color--clay;
  color: $color--black;

  &--white {
    background-color: white;
  }

  &__title-spacer {
    padding-right: 20px;
  }
  &__title {
    overflow-wrap: break-word;
    font-weight: $font-weight--bold;
  }

  &__tags {
    display: flex;
  }
  &__like-button {
    position: absolute;
    top: 5px;
    right: 2px;
  }
}
