.header {
  grid-column: full;
  margin: 0 $gutter-sm;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;

  @media screen and (min-width: $break-point--small) {
    margin: 0 1.5rem;
  }

  &__page-title,
  &__tagline {
    font-family: knowit, Arial, Helvetica, sans-serif;
    color: $color--digital-black;
  }

  &__page-title {
    font-size: $font-size--18;
    font-weight: $font-weight--bold;
    text-decoration: none;
  }

  &__tagline {
    font-size: $font-size--18;
    display: none;

    @media screen and (min-width: $break-point--small) {
      display: block;
    }
  }
}
