.header {
  margin: 0 $gutter-sm;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  top: 0;
  width: 100%;

  &__tagline {
    font-family: 'Knowit';
    margin-right: 2rem;
  }

  &__logo {
      color: inherit;
      text-decoration: inherit;
      margin-left: 2rem;
  }
}
