.footer {
  background-color: $color--forest;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1350px;

  @media screen and (min-width: $break-point--medium) {
    padding: 4rem 0;
  }
}