.task-card {
  position: relative;

  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px $color--clay;

  &__like-button {
    position: absolute;
    top: 5px;
    right: 2px;
  }
}
