.like-button {
  $block: &;

  cursor: pointer;
  padding: 10px;
  background-color: transparent;
  color: transparent;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  &--active {
    &#{$block}::before {
      content: "";
      position: absolute;
      opacity: 0;
      width: 30px;
      top: 17px;
      left: 5px;
      height: 6px;
      background-color: $color--digital-black;
      rotate: 90deg;
    }
    &#{$block}::after {
      content: "";
      position: absolute;

      width: 6px;
      height: 30px;
      top: 5px;
      left: 17px;
      background-color: $color--digital-black;
      rotate: 90deg;
    }
  }

  &::before {
    transition: all 100ms ease-in-out;
    content: "";
    position: absolute;
    width: 6px;
    height: 30px;
    top: 5px;
    left: 17px;
    background-color: $color--digital-black;
  }
  &::after {
    transition: all 100ms ease-in-out;

    content: "";
    position: absolute;
    width: 30px;
    top: 17px;
    left: 5px;
    height: 6px;
    background-color: $color--digital-black;
  }
}
