.contact-persons {
  margin: 0;
  background-color:$color--mint;
  width: 100%;
  margin-left: 10px;
  padding: 10px;

  &__pretext {
    font-weight: bold;
  }

  &__name {
    margin-top: 5px;
  }

  &__list {
    @include list-style-reset();
  }
}
