.contact-persons {
  margin: 0;

  &__title {
    font-size: 20px;
    font-weight: bold;
  }

  &__person {
    margin: 15px 0;
  }
  &__name {
    margin: 2px 0;
  }
  &__role {
    font-weight: bold;
  }

  &__list {
    @include list-style-reset();
  }
}
