.task-overview {
  width: 100%;
  background-color: $color--white-blue-tone;

  &__title {
    margin-bottom: 10px;
  }

  &__grid {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;

    padding: 20px 0;

    @include break-at($break-point--small) {
      gap: 20px;
    }
    @include break-at($break-point--medium-plus) {
      gap: 30px;
    }
  }
}
